<p id="notice"><%= notice %></p>

<h1>Listing Therapists</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @therapists.each do |therapist| %>
      <tr>
        <td> <%= therapist.email %><%= link_to 'Show', therapist %></td>
        <td><%= link_to 'Edit', edit_therapist_path(therapist) %></td>
        <td><%= link_to 'Destroy', therapist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Therapist', new_therapist_path %>
